#Github gitignore template: https://github.com/github/gitignore/blob/master/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#Binarys
bin/*
test/*

#Gedit temp file
*~
/.project

#Private git file
.gitconfig
.metadata
/.cproject
.settings/
Debug/
